.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  gap: 1rem;
}

.character-card {
  margin: 1rem;
}

.character-card img {
  height: 200px;
  width: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.character-card:hover {
  transform: scale(1.05);
}

.character-card mat-card-title,
.character-card mat-card-subtitle {
  text-align: center;
}
